#parse("/velocity/layout.vm")
#@mainLayout()
<form id="submitForm" method="post">
    #if($authenticationFailedDuplication)
        <p class="bad notification">Username Taken</p>
    #elseif($authenticationFailed)
    	<p class="bad notification">Unable to sign up</p>
    #elseif($passwordNotMatch)
    	<p class="bad notification">Password Not Match</p>
    #elseif($authenticationSucceeded)
        <p class="good notification">Sign Up Successful</p>
    #end
    <h1>Create New Account</h1>
    <label id = "submitFormlabel">First Name</label>
    <input id = "submitForminput" type="text" name="firstname" placeholder="First Name" value="" required>
    
    <label id = "submitFormlabel">Last Name</label>
    <input id = "submitForminput" type="text" name="lastname" placeholder="Last Name" value="" required>
    
    <label id = "submitFormlabel">Username</label>
    <input id = "submitForminput" type="text" name="username" placeholder="Username" value="" required>
    
    <label id = "submitFormlabel">Password</label>
    <input id = "submitForminput" type="password" name="password" placeholder="Password" value="" required>
    
    <label id = "submitFormlabel">Confirm Password</label>
    <input id = "submitForminput" type="password" name="password1" placeholder="Confirm Password" value="" required>
    
    <label id = "submitFormlabel">Email</label>
    <input id = "submitForminput" type="text" name="email" placeholder="Email" value="" required>
    
    <label id = "submitFormlabel">Country</label>
    <input id = "submitForminput" type="text" name="country" placeholder="Country" value="" required>
    
    <label id = "submitFormlabel">Gender</label>
    <input type="radio"  name="gender" value="male">
  	<label for="male">Male</label>
  	
  	<input type="radio"  name="gender" value="female">
  	<label for="female">Female</label>
  	
  	<br></br>
    
    <label id = "submitFormlabel">Account Type</label>
    <input type="radio"  name="type" value="users">
  	<label for="users">Users</label>
  	
  	<input type="radio" name="type" value="critics">
  	<label for="critic">Critic</label> 
  	
  	<input type="radio" name="type" value="pco">
  	<label for="pco">PCo</label> 
  	<br></br>
  	
  	<label id = "submitFormlabel">Organisation Name</label>
  	<input id = "submitForminput" type="text" name="organisationName" placeholder="Organisation Name" value"">
  	
    <input id ="submitFormLoginButton" type="submit" value="Sign Up">
</form>
#end