#parse("/velocity/layout.vm")
#@mainLayout()

	#if($noPendingAccounts)
	
		<h3>No Pending Accounts</h3>
	
	#else
		#foreach ( $eachAccountOutput in $accountOutputArray)
		
					$eachAccountOutput
		#end
	#end
#end